* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: black;
  color: white;
}

.wrapper {
  display: grid;
  place-items: center;
  // background: red;
}

.grid {
  display: grid;
  // grid-template-columns:repeat(12, 1fr);
  // grid-template-rows:repeat(12, 1fr);
  grid: repeat(12, 1fr) / repeat(12, 1fr);
  height: 100vh;
  width: 100vw;
  // background: red;
}


$login-button-background: rgb(83, 83, 83);
$login-button-hover-background: rgb(110, 110, 110);

.login-container {
  border: 1px solid white;
  grid-area: 4/5/9/9;
  color: white;
  display: grid;
  grid: repeat(12, 1fr) / repeat(12, 1fr);
  place-items: center;

  h1 {
    color: rgba(2, 182, 2, 0.836);
    grid-area: 3/4/6/10;
    font-size: 3em;
  }
}


.login-button {
  border: 1px solid white;
  border-radius: 5px;
  background: $login-button-background;
  display: grid;
  place-items: center;

  &:hover {
    background-color: $login-button-hover-background;
  }

  a {
    text-decoration: none;
    color: white;
    background: none;

    &:hover {
      color: rgba(238, 238, 238, 0.856);

    }
  }
}

.login-button-spotify {
  grid-area: 7/6/8/8;
}
.login-button-google {
  grid-area: 10/4/11/6;
}

.login-button-youtube {
  grid-area: 10/8/11/10;
}

.playlistSongButton {
  grid-area: 1/1/2/4;
}

.playlist {
  grid-area: 2/1/7/4;
  overflow: scroll;
}

.SearchBar {
  grid-area: 8/1/13/4;
  overflow: scroll;

  .SearchForm {
    width:100%;

    input {
      width: 75%;
    }

    button {
      width: 25%;
    }
  }

  .SearchResults {
    width:100%;
  }
}

.YoutubePlaylistSongButton {
  grid-area: 7/1/8/4;
}

.YoutubePlaylist {
  grid-area: 8/1/13/4;
  overflow: scroll;

}



.songs {
  grid-area: 2/1/7/4;
  overflow: scroll;
}

.react-player {
  grid-area: 1/4/13/13;
}

.reactplayerfiller {
  grid-area: 1/4/13/13;
  display: grid;
  height: 100vh;
  place-items: center;
  grid: repeat(12, 1fr)/ 1fr;

  h1 {
    grid-area: 4/1/5/2;
  }

  h2 {
    grid-area: 5/1/6/2;
  }
}



